/* Vector screen styles for high definition displays */

div#content {
	margin-left: 1em;
	padding: 1.25em 1.5em 1.5em 1.5em;
}
#p-logo {
	left:.5em;
}
#p-logo a{width:92px;height:92px;background-size:contain;margin:1em 0;}
div#footer {
	padding: 1.25em;
}
#mw-panel {
	padding-left: 0.5em;
}
#left-navigation {
	left: 1em;
}
#p-personal {
	right: 1em;
}
#mw-head-base {
	margin-left: 11em;
}

